<div class="row">
    <style>
        .obviousLabel{
            color: black !important;
        }
    </style>
    <br/>
    <div class="center col s6 offset-s3">
        <div class="row">
            <h1>MineSkin 账户管理</h1>
            <p>
                在这里, 你可以添加你自己的 Minecraft 账户来加速皮肤数据的生成.<br/>
                你也可以管理你已经注册的账户.<br/>
            </p>
        </div>
        <br/>
        <br/>

        <div class="row">
            <div ng-show="!loggedIn">
                <h4>请登录你的 Minecraft 账号</h4>
                <span>(This is just to check your account information and will not be stored until you decide to actually add your account.)</span>
                <br/>

                <br/>
                <div>
                    <input type="checkbox" ng-model="checkUnderstoodLogin" id="checkUnderstoodLogin"/>
                    <label for="checkUnderstoodLogin" class="obviousLabel">我明白我 <b>不必</b> 登录</label>
                </div>
                <br/>

                <form ng-submit="doLogin()" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" type="email" class="validate" ng-disabled="!checkUnderstoodLogin" ng-model="username" required>
                            <label for="username">用户名 (E-Mail)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate" ng-disabled="!checkUnderstoodLogin" ng-model="password" required>
                            <label for="password">密码</label>
                        </div>
                    </div>

                    <div class="row">
                        <button class="btn waves-effect waves-light" type="submit" ng-disabled="!checkUnderstoodLogin">登录</button>
                    </div>
                </form>
            </div>
            <div ng-show="loggedIn">
                <h2>已登录!</h2>
                <hr/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div ng-show="!challengesSolved && needToSolveChallenges" ng-hide="!loggedIn">
                <h4>请填写安全提问</h4>
                <form ng-submit="solveChallenges()" class="col s12">
                    <div class="row">
                        <div class="input-field col s12" ng-repeat="question in securityQuestions">
                            <label ng-attr-for="{{ 'securityAnswer' + question.question.id }}">{{ question.question.question }}</label>
                            <input ng-attr-id="{{ 'securityAnswer' + question.question.id }}" type="text" class="validate" ng-model="question.answer.answer">
                        </div>
                        <span>注意: 你现在可以添加几个不同的答案. 如果之前你的每个问题的答案都一样, 就把它们输入三次.</span>
                    </div>

                    <div class="row">
                        <span>如果你的账户没有设置安全提问, 请 <a href="#" ng-click="skipChallenges()"><strong>跳过下一步</strong></a>.</span>
                    </div>

                    <div class="row">
                        <button class="btn waves-effect waves-light" type="submit">提交</button>
                    </div>
                </form>
            </div>
            <div ng-show="challengesSolved">
                <h2>验证成功!</h2>
                <hr/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div ng-hide="!challengesSolved || (user&&userProfile)">
                <h4>加载用户数据中...</h4>
            </div>
            <div ng-show="user && userProfile && userProfile.uuid">
                <h2>用户数据加载成功!</h2>
                <div>
                    <span><strong>Email: </strong> {{ user.username }}<br/></span>
                    <span><strong>UUID: </strong> {{ userProfile.uuid }}<br/></span>
                    <span><strong>Name: </strong> {{ userProfile.name }}<br/></span>
                    <!-- TODO:  show warnings for legacy or suspended accounts -->
                    <span><strong>Legacy: </strong> {{ user.legacyUser || userProfile.legacyProfile }}</span> <span ng-show="user.legacyUser || userProfile.legacyProfile" style="color:red">Legacy accounts cannot be used with MineSkin! Please migrate your account first</span><br/>
                    <span><strong>Suspended: </strong> {{ userProfile.suspended }}</span> <span ng-show="userProfile.suspended" style="color:red">You can't use a suspended account!</span><br/>
                </div>
                <hr/>
            </div>
        </div>
        <br/>
        <div class="row" ng-show="!accountExists"><!-- Account add form -->
            <div ng-show="!accountAdded" ng-hide="!user || !userProfile || !userProfile.uuid || (user.legacyUser || userProfile.legacyProfile || userProfile.suspended)">
                <h4>Click the button below to add your account to the MineSkin database.</h4>
                <p>
                    By adding your account, you agree that MineSkin will have access to your full account data, including username, password, etc..<br/>
                    Your password <i>will</i> be stored in the MineSkin database but it will be encrypted first and cannot be read by humans (also in the improbable event of a database breach).<br/>
                    The skin of your account will be changed in irregular intervals in order to generate the skin data for MineSkin.<br/>
                    You can always remove or temporarily disable your account.<br/>
                </p>
                <br/>

                <div>
                    <div>
                        <input type="checkbox" ng-model="checkReadTerms" id="checkReadTerms"/>
                        <label for="checkReadTerms" class="obviousLabel">我已阅读上述协议</label>
                    </div>
                    <div>
                        <input type="checkbox" ng-model="checkAcceptSkins" id="checkAcceptSkins"/>
                        <label for="checkAcceptSkins" class="obviousLabel">我明白我的账户皮肤会随机改变</label>
                    </div>
                    <div>
                        <input type="checkbox" ng-model="checkAcceptPassword" id="checkAcceptPassword"/>
                        <label for="checkAcceptPassword" class="obviousLabel">I understand that Mineskin will have access to my account's credentials (username + password)</label>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" ng-disabled="!checkReadTerms || !checkAcceptSkins || !checkAcceptPassword" ng-click="submitAccount()">添加账户!</button>
                </div>

            </div>
            <div ng-show="accountAdded">
                <h2>账户已添加!</h2>
                <h4>Thank you very much for your contribution to the MineSkin project! <3</h4>
                <br/>
                <span><a href="#" ng-click="accountStatus()">点击这里</a>进入账户设置</span>
            </div>
        </div>
        <div class="row" ng-show="accountExists"><!-- Account management -->
            <h4>管理账户</h4>
            <div>
                <br/>
                <div class="row">
                    <h6>账户状态</h6>
                    <div class="row">
                        <span><strong>Enabled:</strong> {{ accountEnabled }}<br/></span>
                        <span><strong>Success Rate:</strong> {{ myAccount.successRate*100 }}%<br/></span>
                    </div>
                    <div class="row" ng-if="accountStats && accountStats.generateCount">
                        <span ng-if="accountStats.generateCount > 0">你的账户已生成 {{ accountStats.generateCount }} 个皮肤, 耶！</span>
                        <span ng-if="accountStats.generateCount <= 0">你的账户还没有生成皮肤 :(</span>
                    </div>
                    <div class="col s3 offset-s3">
                        <button class="btn waves-effect waves-light green" ng-disabled="accountEnabled" ng-click="enableAccount()">启用账户</button>
                    </div>
                    <div class="col s3">
                        <button class="btn waves-effect waves-light orange" ng-disabled="!accountEnabled" ng-click="disableAccount()">禁用账户</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    Make sure to <a href="https://yeleha.co/discord">join the Discord</a> before linking!
                    <br/>
                    <button class="btn waves-effect waves-light blue" ng-disabled="accountLinkedToDiscord" ng-click="linkDiscord()">Link Account to Discord</button>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="row">
                        <button class="btn waves-effect waves-light red" ng-disabled="accountEnabled" ng-click="deleteAccount()">删除账户</button>
                        <br/><span ng-show="accountEnabled" style="color:red">请先禁用账户</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
