<div class="container">
    <h2>生成新皮肤</h2>
    <div class="card-panel z-depth-2">
        <div class="row">
            <div class="col s12 m9">
                <h3>选择皮肤</h3>
                <form class="col s12" name="uploadForm">
                    <div class="row">
                        <div ng-show="!skinUrl && !skinUser" class="input-field file-field col s12">
                            <div ngf-drop ng-model="skinUpload" class="drop-box">
                                <div ng-show="!skinUpload">
                                    <a type="file" ngf-select class="btn" id="skinUpload" name="file" ng-model="skinUpload" ngf-pattern="'image/png'" ngf-accept="'image/png'" ngf-max-size="16KB" ngf-dimensions="$width == 64 && ($height == 32 || $height == 64)" ngf-run-all-validations="true" ngf-model-options="{allowInvalid: true}"><i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp; 选择文件</a>
                                </div>
                                <div ng-show="skinUpload" style="padding-top: 4px;">
                                    <img src="" ngf-src="skinUpload" id="skinUploadTempImage" style="display:none;">
                                    <img src="" ngf-thumbnail="skinUpload" class="z-depth-1" style="height:128px;margin:2px;image-rendering: pixelated">
                                    <a class="btn" ng-click="skinUpload=null;">X</a>
                                </div>
                                <ul ng-show="uploadForm.file.$invalid">
                                    <li ng-show="uploadForm.file.$error.dimensions">皮肤图片尺寸: {{ skinUpload.$ngfWidth }}x{{ skinUpload.$ngfHeight }}, 只支持 64x32 或 64x64</li>
                                    <li ng-show="uploadForm.file.$error.maxSize">图片大小: {{ skinUpload.size / 1000 | number: 1 }} KB, 不可超过 16 KB</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-show="!skinUpload && !skinUser" class="input-field col s12">
                            <input type="url" id="skinUrl" ng-model="skinUrl" ng-required="!skinUpload && !skinUser">
                            <label for="skinUrl" class="required-label"><i class="fa fa-link" aria-hidden="true"></i>&nbsp; 图片链接</label>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-show="!skinUrl && !skinUpload" class="input-field col s12">
                            <input type="text" id="skinUser" ng-model="skinUser" ng-required="!skinUrl && !skinUpload" ng-minlength="4" ng-maxlength="36" ng-change="skinName = skinUser">
                            <label for="skinUser" class="required-label"><i class="fa fa-user" aria-hidden="true"></i>&nbsp; Minecraft 用户名</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col s12 m3 right">
                <iframe id="skinRender" frameborder="0" style="display: none;min-height:450px;max-height:500px; min-width:200px;max-width:220px;"></iframe>
                <script>
                    $(document).ready(function () {
                        $("#skinUrl,#skinUser").on("change", function () {
                            var url = $("#skinUrl").val();
                            var user = $("#skinUser").val();
                            if (url && $("#skinUrl").is(":visible")) {
                                $("#skinRender").attr("src", "https://minerender.org/embed/skin/?skin.url=" + url + "&autoResize=true&shadow=true&camera.position=-15,35,20&controls.pan=false&utm_source=mineskin&utm_medium=website&utm_campaign=skin_gen_url");
                            } else if (user && $("#skinUser").is(":visible")) {
                                $("#skinRender").attr("src", "https://minerender.org/embed/skin/?skin.name=" + user + "&autoResize=true&shadow=true&camera.position=-15,35,20&controls.pan=false&utm_source=mineskin&utm_medium=website&utm_campaign=skin_gen_name");
                            }
                        });
                        $("#skinRender").on("load", function () {
                            $("#skinRender").show();
                        })
                        $("#skinRender").on("error", function () {
                            $("#skinRender").hide();
                        })
                    });
                </script>
            </div>
        </div>
    </div>
    <div ng-init="refreshTimeout()" class="card-panel z-depth-2">
        <h3>选项</h3>
        <div class="row">
            <form class="col s12">
                <div class="input-field col s12">
                    <input type="text" id="skinName" ng-model="skinName">
                    <label for="skinName">皮肤名 (可选)</label>
                </div>
                <div class="input-field col s12">
                    <select id="skinModel" ng-model="skinModel" value="steve">
                        <option value="steve">经典 (Steve)</option>
                        <option value="slim">纤细 (Alex)</option>
                    </select>
                    <label>皮肤模型</label>
                </div>
                <div>
                    <div class="switch">
                        <label>
                            公开
                            <input type="checkbox" ng-model="privateUpload">
                            <span class="lever"></span>
                            隐藏
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="center-align">
                    <button class="btn" ng-disabled="generating || generatorTimeout > 0 || (!skinUrl && (!skinUpload || uploadForm.file.$invalid) && !skinUser)" ng-click="generate()">开始生成!</button>
                    <br/>
                    <span class="help-block" ng-show="generatorTimeout > 0">请等待 {{generatorTimeout}} 秒...</span>
                    <div class="progress" ng-show="generating">
                        <div class="indeterminate" ng-class="{indeterminate: generateProgress === 0 || generateProgress >= 100, determinate: generateProgress > 0 && generateProgress < 100}" ng-style="{'width': generateProgress + '%'}"></div>
                    </div>
                </div>
                <div class="pull-right">
                    <strong class="pull-right">分享</strong>
                    <br/>
                    <link rel="me" href="https://twitter.com/MineSkinOrg">
                    <a href="https://twitter.com/share" data-show-count="true" twitter></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-panel z-depth-2" ng-init="refreshStats()">
        <div class="row">
            <div class="col s12">
                <h4>共 {{ stats.accounts | number:0 }} 个账户生成 {{ stats.total | number:0 }} 个皮肤</h4>
                <a class="pull-right" ui-sref="index.stats">更多数据</a>
            </div>
        </div>
    </div>
</div>
