<div class="modal" id="viewModal">
    <div class="modal-content">
        <style>
            .skin-image {
                -webkit-filter: drop-shadow(8px 8px 6px rgba(0, 0, 0, 0.5));
                min-width: 150px;
                min-height: 150px;
            }
        </style>
        <div class="row card-panel" ng-show="!skin">
            <div class="col s12">
                <div class="center">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="skin">
            <h4>{{ skin.name || '#' + skin.id}}
                <small class="text-muted">{{skin.private ? "(private)" : ""}}</small>
            </h4>
            <div class="row card-panel">
                <div class="col s3" style="min-width: 195px; min-height: 415px; z-index:1;">
                    <div id="skinImageContainer">
                        <div style="min-height: 406px;">
                            <img src="https://api.mineskin.org/render/skin?url={{skin.data.texture.url}}&skinName={{skin.name}}&options=%26aa=true%26hr={{skinRotation}}" id="skinImage" class="center-align skin-image">
                        </div>
                        <div style="padding-top: 20px;" class="text-center">
                            <div class="btn-group">
                                <button class="btn btn-primary" title="Rotate Left" ng-click="skinRotation = (skinRotation - 36) % 360" ng-disabled="!skinImageLoaded"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                                <button class="btn btn-primary" title="Rotate Right" ng-click="skinRotation = (skinRotation + 36) % 360" ng-disabled="!skinImageLoaded"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div id="skinRenderContainer" style="display: none;">
                        <iframe frameborder="0" src="#" id="skinRender" style="min-height:450px;max-height:500px; min-width:200px;max-width:220px;"></iframe>
                    </div>
                    <span style="display:none" id="skinRenderId">{{ skin.id }}</span>
                    <script>
                        $(document).ready(function () {
                            $("#skinImage").on("load", function () {
                                if (!/bot|googlebot|crawler|spider|robot|crawling/i.test(navigator.userAgent)) {
                                    $("#skinRender").attr("src", "https://minerender.org/embed/skin/?skin=https://api.mineskin.org/render/texture/" + $("#skinRenderId").text() + "&autoResize=true&shadow=true&camera.position=-15,35,20&controls.pan=false&utm_source=mineskin&utm_medium=website&utm_campaign=skin_preview");
                                    $("#skinRender").on("load", function () {
                                        $("#skinImageContainer").hide();
                                        $("#skinRenderContainer").show();
                                    })
                                }
                            })
                        });
                    </script>
                </div>
                <div class="col s9" style="z-index:1;">
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <label for="skinId">皮肤 ID</label>
                            <input type="text" readonly id="skinId" ng-model="skin.id">
                            <button class="btn tooltipped" data-clipboard-target="#skinId" data-tooltip="复制"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                        </div>
                        <div class="input-field col s12 m6">
                            <label for="skinId">直链</label>
                            <input type="text" readonly id="skinLink" ng-model="'https://minesk.in/' + skin.id">
                            <button class="btn tooltipped" data-clipboard-target="#skinLink" data-tooltip="复制"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="textureValue">纹理数据</label>
                            <input type="text" readonly id="textureValue" ng-model="skin.data.texture.value">
                            <button class="btn tooltipped" data-clipboard-target="#textureValue" data-tooltip="复制"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="textureSignature">纹理签名</label>
                            <input type="text" readonly id="textureSignature" ng-model="skin.data.texture.signature">
                            <button class="btn tooltipped" data-clipboard-target="#textureSignature" data-tooltip="复制"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="textureUrl">纹理链接</label>
                            <input type="text" readonly id="textureUrl" ng-model="skin.data.texture.url">
                            <button class="btn tooltipped" data-clipboard-target="#textureUrl" data-tooltip="复制"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <br>
                            <a href="https://my.minecraft.net/profile/skin/remote?url={{skin.data.texture.url}}" target="_blank">使用这个皮肤</a><br/>
                            <a href="{{skin.data.texture.url}}" target="_blank">下载此皮肤</a> (右键 &gt; 另存为)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row card-panel">
                <h5 id="vanilla">原版 /give 指令</h5>
                <div class="col s12">
                    <div>
                        <div class="row">
                            <div class="input-field col s12">
                                <select ng-model="giveCommandVersion">
                                    <option value="1_12">1.12 及以下版本</option>
                                    <option value="1_13" selected>1.13 及以上版本</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <div ng-show="giveCommandVersion == '1_12'">
                                    <label for="giveCommand1_12">头颅 /give 指令</label>
                                    <textarea style="min-height: 150px;max-width:100%;" id="giveCommandOld" class="materialize-textarea" readonly>/give @p minecraft:skull 1 3 {SkullOwner:{Id:{{skin.data.uuid}},Properties:{textures:[{Value:"{{skin.data.texture.value}}",Signature:"{{skin.data.texture.signature}}"}]}},display:{Name:"{{ skin.name || '#' + skin.id}}",Lore:["头颅皮肤数据 #{{skin.id}}","生成于 {{(skin.timestamp*1000 | date : "medium")}}","使用 mineskin.jeansou.com"]}}</textarea>
                                    <button class="btn tooltipped" data-clipboard-target="#giveCommand1_12" data-tooltip="复制"><i class="fa fa-clipboard" aria-hidden="true"></i> 复制</button>
                                </div>
                                <div ng-show="giveCommandVersion == '1_13'">
                                    <label for="giveCommand1_13">玩家头颅 /give Command</label>
                                    <textarea style="min-height: 150px;max-width:100%;" id="giveCommand1_13" class="materialize-textarea" readonly>give @p minecraft:player_head{SkullOwner:{Id:{{skin.data.uuid}},Properties:{textures:[{Value:"{{skin.data.texture.value}}",Signature:"{{skin.data.texture.signature}}"}]}},display:{Name:"{\"text\":\"{{ skin.name || '#' + skin.id}}\"}",Lore:["{\"text\":\"皮肤纹理数据 #{{skin.id}}\"}","{\"text\":\"生成于 {{(skin.timestamp*1000 | date : "medium")}}\"}","{\"text\":\"使用 mineskin.jeansou.com\"}","{\"text\":\"https://minesk.in/{{skin.id}}\"}"]}}</textarea>
                                    <button class="btn tooltipped" data-clipboard-target="#giveCommand1_13" data-tooltip="复制"><i class="fa fa-clipboard" aria-hidden="true"></i> 复制</button>
                                </div>
                                <div ng-show="giveCommandVersion == '1_16'">
                                    <label for="giveCommand1_16">玩家头颅 /give Command</label>
                                    <textarea style="min-height: 150px;max-width:100%;" id="giveCommand1_16" class="materialize-textarea" readonly>give @p minecraft:player_head{SkullOwner:{Id:{{skin.data.uuidAsArray}},Properties:{textures:[{Value:"{{skin.data.texture.value}}",Signature:"{{skin.data.texture.signature}}"}]}},display:{Name:"{\"text\":\"{{ skin.name || '#' + skin.id}}\"}",Lore:["{\"text\":\"皮肤纹理数据 #{{skin.id}}\"}","{\"text\":\"生成于 {{(skin.timestamp*1000 | date : "medium")}}\"}","{\"text\":\"使用 mineskin.jeansou.com\"}","{\"text\":\"https://minesk.in/{{skin.id}}\"}"]}}</textarea>
                                    <button class="btn tooltipped" data-clipboard-target="#giveCommand1_16" data-tooltip="复制"><i class="fa fa-clipboard" aria-hidden="true"></i> 复制</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row card-panel">
                <h5 id="java">Java 代码</h5>
                <div class="col s12">
                    <div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="javaGameProfile">Java 游戏配置</label>
                                <textarea style="min-height: 150px;max-width:100%;" id="javaGameProfile" class="materialize-textarea" readonly>// 皮肤纹理数据 #{{skin.id}} 生成于 {{(skin.timestamp*1000 | date : "medium")}} 使用 mineskin.jeansou.com
GameProfile skin{{skin.id}} = new GameProfile(UUID.fromString("{{skin.data.uuid}}"), "skin{{skin.id}}");
skin{{skin.id}}.getProperties().put("textures", new Property("textures", "{{skin.data.texture.value}}", "{{skin.data.texture.signature}}"));
            </textarea>
                                <button class="btn tooltipped" data-clipboard-target="#javaGameProfile" data-tooltip="复制"><i class="fa fa-clipboard" aria-hidden="true"></i> 复制</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row card-panel">
                <h5 id="citizens">Citizens 皮肤指令</h5>
                <div class="col s12">
                    <div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="citizensCommand">Citizens /npc skin 指令</label>
                                <textarea style="min-height: 10px;max-width:100%;" id="citizensCommand" class="materialize-textarea" readonly>/npc skin --url https://minesk.in/{{ skin.id }}</textarea>
                                <button class="btn tooltipped" data-clipboard-target="#citizensCommand" data-tooltip="复制"><i class="fa fa-clipboard" aria-hidden="true"></i> 复制</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="pull-left">
                    {{skin.views}} 次查看
                </div>
                <div class="pull-right">
                    <div ng-show="skin.accountId > 0 && skin.timestamp > 0" class="text-muted">
                        生成于 {{(skin.timestamp*1000 | date : "medium")}} by 账户 #{{skin.accountId}} {{ (skin.timestamp>1504564600?"耗时 "+(skin.duration/1000.0)+" 秒":"") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="viewScrollBtn" style="position: fixed; left: 50%; bottom: 5px; opacity: 0.5; font-size: 50px; text-decoration: none; color: black; text-align: center; transform: translateX(-50%);">
        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
    </a>
    <script>
        var clipboard = new Clipboard('.btn');
        function setTooltip(btn, message) {
            $(btn).tooltip({delay: 1, tooltip: message, position: "bottom"}).trigger("mouseenter")
        }
        function hideTooltip(btn) {
            setTimeout(function () {
                $(btn).tooltip('remove');
            }, 5000);
        }
        $("#viewModal").on("scroll",function (e) {
            if (this.scrollTop > 10) {
                $("#viewScrollBtn").hide();
            }else{
                $("#viewScrollBtn").show();
            }
        });
        $("#viewScrollBtn").on("click", function (e) {
            $("#viewModal").animate({scrollTop: 200}, 500, "swing");
            ga("send", "event", "SkinView", "ScrollDown");
        });
        clipboard.on('success', function (e) {
            setTooltip(e.trigger, 'Copied!');
            hideTooltip(e.trigger);
            ga("send", "event", "SkinViewData", "CopyData", e.trigger.dataset.clipboardTarget);
        });
        clipboard.on('error', function (e) {
            setTooltip(e.trigger, 'Failed!');
            hideTooltip(e.trigger);
        });
    </script>
</div>
